
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table1.jpeg");
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 0px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    }